@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  font-family: 'Outfit', sans-serif;
}

.placeholder-color::placeholder {
  color: #4a90e2; 
  font-weight: 300;
  opacity: 1; /* override browser’s default faintness */
}
